.stat1_item {
  padding: 1.5rem;
  border: 1px dashed var(--_primitives---colors--neutral-lighter);
  border-radius: 1rem;
}

@media screen and (max-width: 767px) {
  .stat1_item {
    justify-content: space-between;
  }
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-xxlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxlarge {
  margin: 5rem;
}

@media screen and (max-width: 991px) {
  .margin-xxlarge {
    margin: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxlarge {
    margin: 3rem;
  }
}

.margin-bottom.margin-medium {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-medium {
  margin: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-medium {
    margin: 1.5rem;
  }
}

.margin-bottom.margin-custom3 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-custom1 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-tiny {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-tiny {
  margin: 0.25rem;
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1.5rem;
}

@media screen and (max-width: 767px) {
  .margin-small {
    margin: 1.25rem;
  }
}

.margin-bottom.margin-large {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-large {
  margin: 3rem;
}

@media screen and (max-width: 991px) {
  .margin-large {
    margin: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-large {
    margin: 2rem;
  }
}

.margin-bottom.margin-0 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-0 {
  margin: 0rem;
}

.margin-bottom.margin-xlarge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xlarge {
  margin: 4rem;
}

@media screen and (max-width: 991px) {
  .margin-xlarge {
    margin: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xlarge {
    margin: 2.5rem;
  }
}

.margin-bottom.margin-xhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xhuge {
  margin: 7rem;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }
}

.margin-bottom.margin-xxhuge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxhuge {
  margin: 10rem;
}

@media screen and (max-width: 991px) {
  .margin-xxhuge {
    margin: 7.5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-xxhuge {
    margin: 5rem;
  }
}

.margin-bottom.margin-huge {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-huge {
  margin: 6rem;
}

@media screen and (max-width: 991px) {
  .margin-huge {
    margin: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-huge {
    margin: 3.5rem;
  }
}

.margin-bottom.margin-xxsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xxsmall {
  margin: 0.5rem;
}

.margin-bottom.margin-custom2 {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-bottom.margin-xsmall {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-xsmall {
  margin: 1rem;
}

@media screen and (max-width: 767px) {
  .margin-xsmall {
    margin: 0.75rem;
  }
}

.stat1_item-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.icon-1x1-small {
  width: 2rem;
  height: 2rem;
}

.dropdown1_component {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown1_toggle {
  display: flex;
  padding: 0rem;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .dropdown1_toggle {
    display: flex;
    align-items: center;
  }
}

.button {
  padding: 0.75rem 1.5rem;

  border: 1px solid var(--_primitives---colors--neutral-darkest);

  background-color: var(--_primitives---colors--neutral-darkest);

  color: var(--_primitives---colors--white);
  text-align: center;
  text-decoration: none;
}

.button.is-link {
  padding: 0.25rem 0rem;

  border-style: none;

  background-color: var(--_primitives---opacity--transparent);

  color: var(--_primitives---colors--neutral-darkest);
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-alternate {
  background-color: var(--_primitives---opacity--transparent);
  color: var(--_primitives---colors--white);
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

.button.is-secondary {
  background-color: var(--_primitives---opacity--transparent);
  color: var(--_primitives---colors--neutral-darkest);
}

.button.is-secondary.is-alternate {
  background-color: var(--_primitives---opacity--transparent);
  color: var(--_primitives---colors--white);
}

.button.is-secondary.is-small {
  border-radius: 25rem;
}

.button.is-small {
  padding: 0.5rem 1.25rem;
  border-radius: 25rem;
}

.button.is-alternate {
  border-color: var(--_primitives---colors--white);
  background-color: var(--_primitives---colors--white);
  color: var(--_primitives---colors--neutral-darkest);
}

.button.is-tertiary {
  border-color: transparent;
  background-color: transparent;
  color: var(--base-color-neutral--black\<deleted\|relume-variable-color-neutral-1\>);
}

.icon-embed-xsmall {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown1_dropdown-list:global(.w--open) {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--color-scheme-1--border);
  background-color: var(--_primitives---colors--white);
}

@media screen and (max-width: 991px) {
  .dropdown1_dropdown-list {
    overflow: hidden;
  }
}

.dropdown1_dropdown-list.is-right {
  right: 0rem;
}

.dropdown1_dropdown-link {
  padding: 0.5rem 1rem;
}

.dropdown1_dropdown-link:global(.w--current) {
  color: var(--_primitives---colors--neutral-darkest);
}

.stat1_item-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.heading-style-h5 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-style-h5 {
    font-size: 1.25rem;
  }
}

.stat1_item-badge {
  display: flex;
  padding: 0.125rem 0.5rem;
  align-items: center;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;

  border: 1px solid var(--color-scheme-1--border);
  border-radius: 5rem;
}

.icon-embed-xxsmall {
  display: flex;
  width: 1rem;
  height: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-size-small {
  font-size: 0.875rem;
}

.text-weight-medium {
  font-weight: 500;
}